* {
  box-sizing: border-box;
 }


#cabecera {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style:solid;
    margin-left: 2cm;
    margin-right: 2cm;
}

    #cabecera div{
        display: flex;
        align-items: center;
    }
    
    #cabecera img{
        display: flex;
        border: 3px solid;
        border-radius: 90px;
        height:5cm;
        width: 5cm;
        margin-left: 3cm;
        margin-right: 3cm;
    }
   
    header #descripcion{
      display: flex;
      flex-direction: column;
    }
    
     header div h2 {
       margin: auto;
       font-size: 30px;
       font-weight: lighter;
       font-family:'Courier New', Courier, monospace;
    }
    
      header div h3{
       margin: 8px;
       font-size:x-large;
       font-weight: lighter;
    }

    div div{
      border-style: solid;
      border-radius:90px;
      border-color: black;
      margin :5mm;
      text-align: center;
      font-size: x-large;
    }

     div div:hover{
      background-color: orange;
    }

     a {
      text-decoration: none;
    }

    div .home {
      font-size: xx-large;
    }

    section {
      background-color: antiquewhite;
      border-style: solid;
      margin: auto;
      height: 6cm;
      width: 25cm;
      font-style: oblique;
   }

   main section h1{
    text-align: center;
   }



    

